/* added font style */
/* /* body{
    font-family: 'Merriweather Sans', sans-serif; */
body {
    font-family: 'Merriweather Sans', sans-serif;
}

.img-text {
    background-image: url('../resources/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    filter: brightness(90%);
}

/* }
.text{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50% -50%);
} */
.text-one {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50% -50%);
}

.text-two {
    color: white;
    font-size: 72px;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50% -50%);

}

.pone {
    text-align: center;
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    line-height: normal;
}

.ptwo {
    text-align: center;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.pthree {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.new-welcome {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 140px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-image: url(../resources/Vectorrr.png);
}

.block {
    display: inline-block;
    margin-left: 126px;
}

.image-one {
    float: right;

}

.header-one {
    color: hsla(0, 0%, 94%, 0.835);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.header-two {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-one {
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: black;
    margin-left: 32px;
}

.margin-one {
    padding: 100px 214px 385px 385px;
    border-radius: 10px;
    margin: 120px 150px;
    background-color: #f0e0e0;


}

.join-me {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: #F00;
    border: 1px solid red;
}

.color-one {
    color: #F00;
}

.center {
    display: flex;
}

.center-tag {
    background-color: white;
    width: 1600px;
    height: 400px;
}

.left {
    display: inline-block;
    margin-left: 140px;
}

.midel {
    display: inline-block;
    margin-left: 10px;
    border: 10px solid red;
    border-radius: 50%;
    padding: 25px;
}

.right {
    display: inline-block;
    margin-left: 10px;
    margin-right: 100px;
}

/* .left .midel .right {
    float: left;
width: 33.33%;
padding: 5px;
} */
.h3-color {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.h1-color {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.p-color {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.h1-color-one {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}

.sell-p {
    color: #070211;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 150px;
}

.holiday {
    color: #F00;
}

.sell-h2 {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: normal;
    margin-left: 350px;
    margin-right: 200px;
}

.sell-p-one {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-left: 266px;
    margin-right: 266px;
}

.main-img {
    display: flex;
}

.img-one {
    width: 400px;
    height: 400px;
    margin-left: 140px;
    margin-top: 50px;
}

.img-two {
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
    margin-top: 150px;
}

.img-three {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    margin-bottom: 229px;
}

.the-dell {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift {
    margin-left: 140px;
}

/* .pic-one{
    display: flex;
} */
.row {
    display: flex;
    margin-left: 140px;
    margin-right: 100px;
}

.pic {
    float: left;
    width: 33.33%;
    padding: 5px;
    width: 424px;
    height: 450px;
}

.row-one {
    display: flex;
    margin-left: 140px;
}

.pic-one {
    float: left;
    width: 33.33%;
    padding: 5px;
    width: 424px;
    height: 450px;
}

.div-one {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 100px 140px;
}

.class-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.class-one {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sub {
    text-align: center;
}

.type-one {
    width: 500px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.button-one {
    width: 210px;
    height: 78px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: 0px;
}

.black {
    background-color: #070211;
    ;
}

.site {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 140px;
}
.face{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 64px;
    height: 64px;
    flex-shrink: 0; 
}
.last{
    display: flex;
    justify-content: space-between;
}
.last-fast{
    display: flex;
}
.site-all{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 140px;
}
.site-last{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 350px;
}
.haha{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 40px;
    margin-top: 22px;
    margin-right: 50px;
}